<?xml version="1.0" encoding="UTF-8"?>
<root>
    <configuration>
        <bean id="Crawling" class="service.downloads.CrawlingTask">
            <property name="storage" ref="storage"></property>
        </bean>
    </configuration>
    <beans>
        <bean id="storage" class="service.storage.StorageInFile"/>
        <bean id="urlProducer" class="service.producer.url.ConsoleProducer"/>
    </beans>
</root>







